@model HelpDesk.Models.HistoricoChamado

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HistoricoChamado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescHistorico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescHistorico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataHistorico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataHistorico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdChamado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdChamado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdHistorico">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
