@model IEnumerable<HelpDesk.Models.HistoricoChamado>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DescHistorico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataHistorico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdChamado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DescHistorico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataHistorico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdChamado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdHistorico">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdHistorico">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdHistorico">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
