@model HelpDesk.Models.Chamado

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Chamado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Assunto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Assunto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NmOperador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NmOperador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioResponsavel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioResponsavel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoChamado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoChamado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CentroCusto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CentroCusto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoChamado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoChamado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoriaServico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoriaServico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubCategoriaServico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubCategoriaServico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NmNivelOperacional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NmNivelOperacional)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdChamado" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
